<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="border">
      <span class="title">Warehouse.Project</span>
    </header>
    

    <main class="border">
      <div class="dashboard border">
        <div class="dashboard__info">
          <div class="dashboard__avatar">
          
          </div>
          <div class="dashboard__fullname">
          
          </div>
          <div class="dashboard__options">
          
          </div>
        </div>
        <div class="dashboard__tabs">

        
        </div>
      
      </div>
      <div class="content">
        <%= yield %>
      </div>
      
    </main>

    <footer class="border">
      
    </footer>
  </body>
</html>
